<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591086452096-g4rdgaoop7m1rl0c39ak43r4ceuf0rmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591086452096-g4rdgaoop7m1rl0c39ak43r4ceuf0rmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDuDEAjJ6CBabNICWRMtYeYKGCk2JtJXd0</string>
	<key>GCM_SENDER_ID</key>
	<string>591086452096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizrdsdev.devicemanager</string>
	<key>PROJECT_ID</key>
	<string>devicemanagement-dd7d8</string>
	<key>STORAGE_BUCKET</key>
	<string>devicemanagement-dd7d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591086452096:ios:d6eace70f50a59e2f41565</string>
</dict>
</plist>